{% extends "TodoBundle::layout.html.twig" %}


{% block css %}
    {{ parent() }}
    <link href="{{ asset('css/content.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-3.1.1.js') }}"></script>
    <script src="{{ asset('js/markup.js') }}"></script>
{% endblock %}

        
{% block content %}
    <div class="column">
        <div class="column_header">
            <p>To do:</p>
        </div>
        <div class="tasks">
            {% for taskTodo in tasksTodo %}
            <div class="task">
                <p>{{ taskTodo.taskName }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="column">
        <div class="column_header">
            <p>In progress:</p>
        </div>
        <div class="tasks">
            {% for taskInprogress in tasksInprogress %}
            <div class="task">
                <p>{{ taskInprogress.taskName }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="column">
        <div class="column_header">
            <p>Done:</p>
        </div>
        <div class="tasks">
            {% for taskCompleted in tasksCompleted %}
            <div class="task">
                <p>{{ taskCompleted.taskName }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}    
