{% extends "TodoBundle::layout.html.twig" %}

{#{% block css %}
    {{ parent() }}
    <link href="{{ asset('css/content_login.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/sign.js') }}"></script>
{% endblock %}#}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.userName) }}
        {{ form_row(form.userMail) }}
        {{ form_row(form.userPlainPassword.first) }}
        {{ form_row(form.userPlainPassword.second) }}

        <button type="submit">Sign up</button>
    {{ form_end(form) }}
{% endblock %}
